
.form-group{
    display: inline;
    display: contents;
    
    }
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
        border: 1px solid;
        
      }
      th, td {
        background-color: #d5ddd5;
      }
    
      td {
        text-align: left;
      }
      td {
        height: 10px;
        vertical-align:text-top;
      }
      th, td {
        padding: 2px;
        text-align: left;
      }
      div.ex1 {
        width: 500px;
        margin: auto;
        border: 3px solid #73AD21;
      }
      
      div.ex2 {
        max-width: 500px;
        margin: auto;
        border: 3px solid #73AD21;
      }
      div.static {
        position: static;
        border: 3px solid #73AD21;
      }
    
    
      body {
        background-color: rgb(195, 187, 194);
      }
      
      h1 {
        color: white;
        text-align: center;
      }
      
      body {
        background-color: lightblue;
      }
      
      h1 {
        color: white;
        text-align: center;
      }
      
      p {
        font-family: verdana;
      }
    
      